footer {
  background-color: #1a1a1a;
  color: #ffeef2;
  text-align: center;
  padding: 16px;
  font-size: 0.9rem;
  margin-top: auto; 
}

footer a {
  color: #FF1B54;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
