.header {
  background: url('/Assets/Bg.jpg') center center / cover no-repeat;
  height: 25vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.header h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
