.header {
  background-color: #3949ab;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
