.sidebar {
  width: 200px;
  background-color: #5c6bc0;
  padding: 15px;
  height: 100vh;
  position: fixed;
  top: 60px;
}
.sidebar a {
  color: white;
  display: block;
  margin: 10px 0;
  text-decoration: none;
}
.sidebar a:hover {
  text-decoration: underline;
}
