.header {
  background-color: #283593;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

.header a:hover {
  text-decoration: underline;
}

.logo {
  font-size: 24px;
}
