.sidebar {
  height: calc(100vh - 80px);
  width: 200px;
  position: fixed;
  top: 80px;
  left: 0;
  background-color: #111;
  padding-top: 20px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidebar a:hover {
  background-color: #575757;
}
